body{
    width: 1400px;
}

div{
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.vermelha{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.amarelo{
    background-color: yellow;
}

#canto{
    border: 3px solid black;
}

.hov:hover{
    background-color: aqua;
}